* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  main {
    padding: 20px;
  }

  section {
    margin-bottom: 30px;
  }

  h2 {
    color: #333;
  }

  .producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .producto img {
    max-width: 100%;
  }

  .agregar-carrito {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #img-banner {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .producto img {
    width: 300px;
  }
  
  #destacados, #novedades {
    display: inline-block;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal h2 {
    margin-top: 0;
  }

  .modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-close:hover,
  .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #carrito{

    display: none;
  }
  
  #cantidad-input {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 80px;
    outline: none;
  }
  
  #cantidad-input:focus {
    border-color: #0066ff;
    box-shadow: 0 0 4px rgba(0, 102, 255, 0.6);
  }
  #usuario {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
  }
  
  #icono-usuario {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid rgb(93, 86, 93);
  }
  #contenedor-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  #vacio{
    display: none;
  }